.bootcamp {
  justify-content: center;
  padding: 68px;
}

.bootcamp-name {
}

.selected-bootcamp-name {
}

.bootcamp-detail-card {
  display: flex;
  background-color: #ffd7b1;
  color: #161e3c;
  border-radius: 12px;
  padding: 60px;
  width: 100%;
}

.contained-button {
  font-family: "Nunito Sans", sans-serif;
  align-items: center;
  background: #161e3c;
  border-radius: 8px;
  display: flex;
  gap: 12px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  border: none;
  /* width: 35%; */
  /* padding-left: 48px;
  padding-top: 12px;
  padding-bottom: 12px; */
  padding: 12px 48px;
  cursor: pointer;
  align-self: center;
  align-content: center;
  justify-content: center;
}
