.header {
  background-color: #161e3c;
  color: white;
  display: flex;
  justify-content: space-around;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-items > ul > li {
  padding: 12px;
}

.profile-items {
  display: flex;
  align-items: center;
}

.profile-img {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  margin-right: 10px;
}

.round-outlined-button {
  border-radius: 40px;
  color: white;
  border: 1px solid white;
  padding: 8px 25px;
  background-color: transparent;
  font-family: "Nunito Sans", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.round-outlined-button:hover {
  background-color: white;
  color: #161e3c;
  font-family: "Nunito Sans", sans-serif;
  transition: 0.4s;
}

li {
  cursor: pointer;
}

@media (max-width: 800px) {
  .header {
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
  }

  .nav-items > ul > li {
    padding: 0px;
  }

  .round-outlined-button {
    border-radius: 40px;
    color: white;
    border: 1px solid white;
    padding: 8px 15px;
  }

  .nav-items > ul {
    flex-wrap: wrap;
    margin-left: -40px;
    /* align-items: center; */
    justify-content: center;
  }
}
